@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Miniver&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: "Poppins", sans-serif;
}

:root {
    /* Cores */
    --cor-branco: #ffff;
    --cor-dark: #252525;
    --cor-primaria: #3b141c;
    --cor-secundaria: #f3961c;
    --rosa-claro: #faf4f5;
    --cinza-mediano: #ccc;

    /* tamanhos de fonte */
    --font-size-s: 0.9rem;
    --font-size-n: 1rem;
    --font-size-m: 1.12rem;
    --font-size-l: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-xx1: 2.3rem;

    /* font weight */
    --font-weight-normal: 400;
    --font-weight-medio: 500;
    --font-weight-semihold: 600;
    --font-weight-bold: 700;

    /* border radius */
    --border-radius-s: 8px;
    --border-radius-m: 30px;
    --border-radius-circulo: 50%;

    /* site max width */ 
    --site-max-width: 1300px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

img {
    width: 100%;
}

.secao_conteudo {
    margin: 0 auto;
    padding: 0 auto;
    max-width: var(--site-max-width);
}

/* navbar estilização */
header {
    position: fixed;
    width: 100%;
    z-index: 5;

    background: var(--cor-primaria);
}

header .navbar {
    display: flex;
    padding: 20px;
    align-items: center;

    justify-content: space-between;
}


.navbar .nav_logo .logo_texto {
    color: var(--cor-branco);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semihold);
}

.navbar .navbar_menu {
    display: flex;
    gap: 10px;
}

.navbar .nav_menu .nav_link {
    padding: 10px 5px;
    color: var(--cor-branco);
    font-size: var(--font-size-m);    
    
    border-radius: var(--border-radius-m);
    transition: 0.3s ease;
}

.navbar .nav_menu .nav_link:hover {
    color: var(--cor-primaria);
    background: var(--cor-secundaria);
}

.hero_section {
    min-height: 100vh;
    background: var(--cor-primaria);
}

.hero_section .secao_conteudo {
    display: flex;
    align-items: center;
    min-height: 100vh;

    color: var(--cor-branco);
    justify-content: space-between;
}

.hero_section .hero_details .title {
    font-size: var(--font-size-xx1);
    color: var(--cor-secundaria);
    font-family: "Miniver", sans-serif;
}